/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.container {
    max-width: 1140px;
    margin: 0 auto;
    @media screen and (max-width:1160px  ){
        padding: 0 30px;
    }
}
.header {
    width: 100%;
    min-height: 53px;
    background-color: #0d0d0d;
    color: white;
    display: flex;
    @media screen and (max-width:1250px  ){
        height: 70px;
    }
    @media screen and (max-width:800px  ){
        height: 130px;
        
    }
    @media screen and (max-width:350px  ){
        height: 200px;
    }
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:800px  ){
           flex-direction: column; 
           justify-content: center;
    }
}
.header__logo {
    display: flex;
    align-items: center;
    @media screen and (max-width:800px  ){
        display: none;
    }
}
.header__name{
    width: 136px;
    color: #f2f1f1;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 9px;
    text-transform: uppercase;  
    margin-left: 8px;

}

.header__nav {
    display: flex;
    align-items: center;
    a {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 9px;
        margin-left: 20px;
    }
    @media screen and (max-width:850px  ){
        flex-wrap: wrap;
    }
    li {
        @media screen and (max-width:800px  ){
            padding: 10px 5px;
        }
    }
    @media screen and (max-width:570px  ){
        justify-content: space-between;
    }
}
.header__phones{
    display: flex;
    a {
        color: white;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 12px;
        @media screen and (max-width:1250px  ){
            margin-top: 5px;
           }
        img {
            margin-right: 5px;
            margin-left: 19px;
        }

        button {
                background: none;
                border: none; 
                display: flex;
                img {
                    margin-left: 9px;
                }
                
        }
    }
    @media screen and (max-width:1250px  ){
     display: block;
    }
}

.firstscreen {
    background-image: url(../../img/фонкамин.jpg);
    background-repeat: no-repeat;
    background-position: center;
    h1 {
        padding-top: 250px;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 50px;
        font-weight: 400;
        line-height: 46px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.5px;
        @media screen and (max-width:1250px  ){
            font-size: 35px;
            padding-top: 150px;
        }
        @media screen and (max-width:600px  ){
            font-size: 26px;
        }
    }
    h2 {
        margin-top: 13px;
        margin-bottom: 55px;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.4px;
        text-align: center;
        @media screen and (max-width:600px  ){
            font-size: 20px;
        }
    }
    .firstscreen__button {
        display: flex;
        justify-content: center;
        button {
            width: 220px;
            height: 40px;
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
            border-radius: 22px;
            background-color: #ff5105;
            margin-bottom: 43px;

            color: #ffffff;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: 700;
            line-height: 9px;
            text-transform: uppercase;
            
        }
    }

    .firstscreen__arrow {
        display: flex;
        justify-content: center;
        button {
            background-image: url(../../img/стрелка.png);
            background-color: rgba(240, 255, 240, 0);
            width: 32px;
            height: 75px;
            margin-bottom: 139px;
        }
    }
}

.products {
    display: flex;
    justify-content: center;
    .products__navigation{
        margin-top: 61px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
        .name {
            color: #363636;
            font-family: "Open Sans";
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            @media screen and (max-width:600px  ){
                font-size: 26px;
            }
        }
        .buttons {
            display: flex;
            .arrow{
                width: 34px;
                height: 41px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
                background-color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    border: none;
                    box-shadow: none;
                }
                @media screen and (max-width:460px  ){
                    display: none;
                }
            }
            .arrow-right {
                margin-left: 6px;
                margin-right: 6px;

            }
            .allproducts {
                width: 151px;
                height: 41px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
                background-color: #ffffff;
                color: #777777;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 600;
                line-height: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    border: none;
                    box-shadow: none;
                    color: #ff440b;
                }
                img {
                    margin-left: 15px;
                }
                @media screen and (max-width:460px  ){
                    margin-top: 20px;
                }
            }
        }
        @media screen and (max-width:460px  ){
            flex-direction: column;
        }
    }

    .products__cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
            .card{
            width: 264px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
            padding-top: 23px;
            padding-bottom: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
            &:hover {
                border: none;
                box-shadow: none;
            }
            
            img {
                margin-bottom: 45px;
                max-width: 100%;
                height: auto;
            }
            
            h3{
                color: #363636;
                font-family: "Open Sans";
                font-size: 18px;
                font-weight: 700;
                line-height: 12px;
                
            }
            h4 {
                color: #363636;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 700;
                margin-top: 12px;
                margin-bottom: 23px;
        
            }
            button {
                width: 167px;
                height: 36px;
                border-radius: 18px;
                border: 1px solid #ff5105;
                background-color: #f7f6f6;
                color: #ff5105;
                font-size: 11px;
                font-weight: 700;
                line-height: 9px;
                text-transform: uppercase;
                &:hover {
                    background-color: #ff5105;
                    color: #ffffff;
                }
            }
        }
        .card--firstexclusion{
            img{
                margin-bottom: 24px;
            }
        }
        .card--secondexclusion {
            padding-top: 0;
            img{
                margin-bottom: 30px;
            }
        }
        @media screen and (max-width:1140px  ){
            justify-content: center;
        }
    }

    .products__downButtoms{
        width: 230px;
        margin-top: 26px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        button {
            width: 50px;
            height: 7px;
            border-radius: 4px;
            background-color: #dfdfdf;

        }
    }

}
.benefits{
    margin-top: 50px;
    
    .name {
        color: #363636;
        font-family: "Open Sans";
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 39px;
        @media screen and (max-width:800px  ){
            font-style: 26px;
        }
    }
    .benefits__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 28px;
        margin-bottom: 45px;
        .benefits__card{
            max-width: 556px;
            background-color: #111111;
            padding-top: 57px;
            padding-left: 70px;
            padding-right: 80px;
            padding-bottom: 49px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
         

            &:first-of-type{
                background-image: url(../../img/фон.jpg);
            }
            &:nth-of-type(2){
                background-image: url(../../img/фон2.jpg);            
            }
            &:nth-of-type(3){
                background-image: url(../../img/фон3.jpg);
            }
            &:nth-of-type(4){
                background-image: url(../../img/фон4.jpg);
            }
            h3{
                color: #ffffff;
                font-family: "Open Sans";
                font-size: 24px;
                font-weight: 700;
            }
            h4{
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
                color: #ffffff;
                margin-top: 19px;
            }
            @media screen and (max-width:600px  ){
                padding-top: 15px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 15px;
                width: 90vw;
            }
        }
        @media screen and (max-width:1250px  ){
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;

        }


    }
}
.questions{
    margin-bottom: 44px;
    .container{
        max-width: 1140px;
        min-height: 203px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../../img/Прямоугольник_46.png);
        padding: 23px;
        @media screen and (max-width:800px  ){
            max-width: 750px;
        }
    }
    .questions__area{
        max-width: 1094px;
        background-color: #ffffff;
        padding-top: 46px ;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 45px;
        display: flex;
        justify-content: space-between;
        .questions__left{
            max-width: 679px;
            h3{
                color: #363636;
                font-family: "Open Sans";
                font-size: 36px;
                font-weight: 700;
                line-height: 30px;
                margin-bottom: 15px;    
                @media screen and (max-width:1000px  ){
                    font-size: 25px;
                }
            }
            h4{
                color: #363636;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 700;
                line-height: 14px;
            }
        }
        button{
            
            width: 220px;
            height: 43px;
            border-radius: 22px;
            background-color: #ff5105;
            margin-top: 9px;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            @media screen and (max-width:800px  ){
                margin-top: 30px;
            }

        }

        @media screen and (max-width:800px  ){
            padding-top: 25px ;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 25px;
            max-width: 700px;
            flex-direction: column;
            align-items: center;
        }
    }
}
.aboutcompany{
    background-image: url(../../img/фон_копия.jpg);
    max-height: 446px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 84px;
    padding-bottom: 20px;
    .aboutcompany__name{
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 36px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 51px;
        @media screen and (max-width:600px  ){
            margin-bottom: 30px;
            font-size: 26px;
        }
        @media screen and (max-width:460px  ){
            margin-bottom: 10px;
            font-size: 20px;
        }
    }
    .aboutcompany__text{
        max-width: 596px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        @media screen and (max-width:460px  ){
            font-size: 12px;

        }
    }
    .aboutcompany__text--first{
        padding-bottom: 16px;
        @media screen and (max-width:460px  ){
            padding-bottom: 5px;
        }
    }
    @media screen and (max-width:600px  ){
        padding-top: 40px;
    }
}

.contacts{
    padding-top: 70px;
    .contacts__name{
        color: #363636;
        font-family: "Open Sans";
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 49px;
        @media screen and (max-width:600px  ){
            font-size: 26px;
        }
    }
    .contacts__cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
        .contacts__card{
            width: 362px;
            height: 128px;
            position: relative;
            .contacts__square{
                position: absolute;
                background-image: url(../../img/декорация_копия_2.png);
                width: 52px;
                height: 52px;
            }
            .contacts__inf{
                position: absolute;
                width: 347px;
                height: 113px;
                margin-top: 15px;
                margin-left: 15px;
                background-color: #ffffff;
                padding: 20px;
                .contacts__infName{
                    color: #363636;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-weight: 700;
                    margin-top: 2px;
                    margin-bottom: 20px;
                }
                .contacts__information{
                    color: #363636;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 23px;
                }
            }
            @media screen and (max-width:800px  ){
                margin-top: 15px;
            }
        }
        @media screen and (max-width:1250px  ){
            flex-direction: column;
            align-items: center;
        }
    }
    

}

.map{
    .container{
        width: 90vw;
        background-color: #efefef;
        margin-top: 22px;
        margin-bottom: 53px;
        .iframe{
            width: 90vw;
            height: 404px;
        }
    }
}
footer{
    background-image: url(../../img/Прямоугольник_18_копия.png);
    height: 84px;
    background-color: black;
    display: flex;
    align-items: center;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer__left{
            height: 15px;
            color: #d6d6d6;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
        }
    }
}






